version: "3.9"

networks:
  dadnet:
    driver: bridge

services:

  c02:
    build: ./C02
    container_name: c02
    networks: [dadnet]
    ports:
      - "61616:61616"
      - "8161:8161"

  c06:
    build: ./C06
    container_name: c06
    networks: [dadnet]
    environment:
      PORT: "3000"
      MONGO_URL: "mongodb://127.0.0.1:27017"
      MONGO_DB: "dad_metrics"
      MYSQL_HOST: "127.0.0.1"
      MYSQL_DB: "dad"
      MYSQL_USER: "dad"
      MYSQL_PASSWORD: "dad"
      MYSQL_ROOT_PASSWORD: "root"
      SNMP_COMMUNITY: "public"
    ports:
      - "3000:3000"
      - "27017:27017"
      - "3306:3306"
      - "1611:161/udp"
    restart: unless-stopped

  c04:
    build: ./C04
    container_name: c04
    networks: [dadnet]
    environment:
      RMI_PORT: "1099"
      RMI_OBJ_PORT: "1109"
      RMI_NAME: "ZoomService"
    expose:
      - "1099"
      - "1109"
      - "161/udp"
    restart: unless-stopped

  c05:
    build: ./C05
    container_name: c05
    networks: [dadnet]
    environment:
      RMI_HOSTNAME: c05
      RMI_REGISTRY_PORT: "1099"
      RMI_SERVICE_PORT: "2001"
      RMI_NAME: "ZoomService"
    expose:
      - "1099"
      - "2001"
      - "161/udp"
    restart: unless-stopped

  c03:
    build: ./C03
    container_name: c03
    networks: [dadnet]
    environment:
      JMS_BROKER_HOST: "c02"
      JMS_BROKER_PORT: "61616"
      RMI_TOP_HOST: "c04"
      RMI_TOP_PORT: "1099"
      RMI_BOTTOM_HOST: "c05"
      RMI_BOTTOM_PORT: "1099"
      C06_BASE_URL: "http://c06:3000"
    depends_on:
      - c02
      - c04
      - c05
      - c06
      
  c01:
    build: ./C01
    container_name: c01
    networks: [dadnet]
    ports:
      - "8081:8081"
    environment:
      PORT: "8081"
      JMS_BROKER_HOST: "c02"
      JMS_BROKER_PORT: "61616"
      JMS_USER: "dad"
      JMS_PASS: "dad"
      JMS_BMP_TOPIC: "bmp.topic"
      JMS_DONE_QUEUE: "job.done.queue"
      C06_BASE_URL: "http://c06:3000"
    depends_on:
      - c02